.container {
    max-width: 350px;         
    margin: 60px auto;         
    padding: 25px;

    background: rgba(42, 78, 145, 0.9);
    border-radius: 15px;

    border: 3px solid #ffffff; 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); 

    text-align: center;
    color: white;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #743434;
  color: white;
  text-align: center;
}

body{
  background-image: url("liquid-marbling-paint-texture-background-fluid-painting-abstract-texture-intensive-color-mix-wallpaper_1258-82946.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
